@use "sass:math";

// Константы для брейкпоинтов
$maxWidth: 1440;
$mobWidth: 768;
$px: px;

// Функция для перевода пикселей в rem
@function rem($px) {
  @return #{math.div($px, 16)}rem;
}

// Миксин адаптивного значения свойства
@mixin adaptiv-value($property, $mobSize, $descSize ) {
    $addSize: $descSize - $mobSize;
    #{$property}: $mobSize + $px;

    @media (min-width: #{$mobWidth + 1}px) and (max-width: #{$maxWidth}px) {
        #{$property}: calc(#{$mobSize}px + #{$addSize} * ((100vw - #{$mobWidth}px) / (#{$maxWidth} - #{$mobWidth})));
    }

    @media (min-width: #{$maxWidth + 1}px) {
        #{$property}: $descSize + $px;
    }
}

// Пример медиа-миксина
@mixin media($point) {
  @media (min-width: $point + $px) {
    @content;
  }
}
