@import "var";
@import "mixin";

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  color: #14121e;
  max-width: rem(1920);
  width: 100%;
  margin: 0 auto;
  font-size: rem(16);
  line-height: 1.2;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: rem(1920);
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #f8f9fa;
}

.container {
  max-width: rem(1232);
  margin: 0 auto;
  padding: 0 rem(15);
  @media screen and (max-width: rem(768)) {
    padding: 0;
  }
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

br {
  line-height: 0;
}

a:hover,
a {
  color: inherit;
  transition: 0.3s;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: none !important;
}

input:focus {
  outline: none;
}

[type="submit"][disabled] {
  cursor: not-allowed !important;
  opacity: 0.5;
}

input::placeholder {
  color: white;
}

.lazy {
  background-image: none !important;
  opacity: 0;

  &:before,
  &:after {
    content: none !important;
  }

  &-loaded {
    opacity: 1;
    transition: 0.1s;
  }
}

.widget-form-privacy {
  display: none !important;
}

